# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
hashPasswords.js
seed.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

RENDER_INSTRUCTIONS.md
server/ping.js
server/dropAdmissionNoIndex.js
server/listRegistrationIndexes.js

# Google Service Account
server/google-service-account.json
server/GOOGLE_GROUPS_SETUP.md
server/google-service-account.template.json
server/QUICK_SETUP_GUIDE.md
server/README_GOOGLE_GROUPS.md
server/setup-google-groups.js
server/setup-oauth2.js
server/test-google-groups.js
server/routes/googleAuth.js
server/utils/googleGroupsService.js
server/test-oauth2.js
server/EMAIL_VERIFICATION_GUIDE.md
server/test-email-verification.js
server/seed-iic-admin.js
IIC_ADMIN_SETUP.md
server/utils/EMAIL_SETUP_GUIDE.md
server/utils/IMPLEMENTATION_SUMMARY.md
server/bulk-email-results-2025-09-04T09-24-15-416Z.json
server/bulk-email-results-2025-09-04T09-31-44-437Z.json
server/bulk-email-results-2025-09-04T09-47-24-392Z.json
server/utils/bulkEmailScript.js
server/utils/emailExamples.js
